@import url('https://fonts.cdnfonts.com/css/cera-round-pro');
*{
  font-family: 'Cera Round Pro', sans-serif;
  font-weight: 700;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3aa19d #d9d9d9;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #d9d9d9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3aa19d;
    border-radius: 20px;
    border: 1px none #000000;
  }
  
html,
body {
  padding: 0;
  margin: 0;  
 
}
.btn:focus {
  outline: none;
  box-shadow: none;
 
  background: #000;
}


.dot {
  display: flex;
  padding: 5px;
  border-radius: 100%;
  border: 3px solid #000;
}


#dot-white{
  display: flex;
  border: #ffffff solid 3px;
  padding: 5px;
  border-radius: 100%;

}

.inner_dot{
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: var(--primary-color);
  display: inline-block;
}


.nav-bg{
  background: #dfdfdf;
  color:white;
  backdrop-filter: blur(14px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(255, 255, 255, 0.705);
}

.about-title{
    position: relative;
    font-size: 5rem;
    color: #ffffff;  
    line-height: 0.9;
    text-align: center;
    font-weight: 800;
}

.aboutme-text{
   position: relative;
    color: #ffffff;  
    line-height: 0.9;
    text-align: center;
    
}


#text-white{
  color:#fff
  
}
.bg-sky{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 20%2c 27%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c589.351C117.196%2c614.791%2c259.51%2c623.122%2c349.545%2c543.903C440.097%2c464.228%2c405.27%2c316.591%2c440.947%2c201.374C470.843%2c104.827%2c551.917%2c22.65%2c542.1%2c-77.942C532.158%2c-179.813%2c446.729%2c-252.449%2c388.446%2c-336.59C322.402%2c-431.936%2c278.635%2c-547.655%2c177.458%2c-604.365C65.585%2c-667.07%2c-76.646%2c-713.328%2c-194.825%2c-663.515C-312.631%2c-613.858%2c-331.936%2c-456.609%2c-411.148%2c-356.262C-485.459%2c-262.123%2c-624.809%2c-210.95%2c-645.345%2c-92.787C-665.902%2c25.495%2c-586.339%2c138.966%2c-513.85%2c234.667C-451.055%2c317.57%2c-349.549%2c351.648%2c-263.958%2c410.727C-174.718%2c472.325%2c-105.967%2c566.348%2c0%2c589.351' fill='%23090d12'%3e%3c/path%3e%3cpath d='M1440 1165.217C1548.716 1141.241 1631.881 1062.7350000000001 1716.894 990.855 1791.781 927.537 1853.234 855.688 1904.767 772.252 1962.9650000000001 678.025 2027.74 584.767 2035.925 474.319 2045.193 349.26099999999997 2049.483 195.74099999999999 1953.4679999999998 115.07799999999997 1855.46 32.74199999999996 1703.59 114.90499999999997 1578.094 89.69400000000002 1468.413 67.66000000000003 1378.657-44.49699999999996 1268.983-22.42999999999995 1158.8-0.26099999999996726 1091.629 109.96199999999999 1025.541 200.86900000000003 963.979 285.55 922.832 380.058 901.817 482.621 879.741 590.367 873.792 699.473 901.575 805.89 933.273 927.3009999999999 967.284 1063.497 1071.657 1133.152 1176.289 1202.98 1317.159 1192.308 1440 1165.217' fill='%23131b25'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  padding: 10rem;
}

.bg-svg{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1594%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1595%26quot%3b)' x='205.68' y='-31.88' fill='url(%23SvgjsPattern1596)' transform='rotate(272.85%2c 355.68%2c 118.12)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1597%26quot%3b)' x='728.25' y='523.49' fill='url(%23SvgjsPattern1598)' transform='rotate(99.75%2c 758.25%2c 553.49)'%3e%3c/rect%3e%3cpath d='M909.28 433.15L905.75 445.46 892.97 444.72 889.44 457.03 876.65 456.29 873.12 468.6 860.34 467.85' stroke='rgba(58%2c 161%2c 157%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='84' height='84' clip-path='url(%26quot%3b%23SvgjsClipPath1599%26quot%3b)' x='39.72' y='482.61' fill='url(%23SvgjsPattern1600)' transform='rotate(309.86%2c 81.72%2c 524.61)'%3e%3c/rect%3e%3crect width='294.4' height='294.4' clip-path='url(%26quot%3b%23SvgjsClipPath1601%26quot%3b)' x='1200.66' y='203.98' fill='url(%23SvgjsPattern1602)' transform='rotate(350.55%2c 1347.86%2c 351.18)'%3e%3c/rect%3e%3cpath d='M860.1 229.1a5.6 5.6 0 1 0-7.88 7.96 5.6 5.6 0 1 0 7.88-7.96zM848.84 240.47a5.6 5.6 0 1 0-7.88 7.96 5.6 5.6 0 1 0 7.88-7.96zM837.59 251.84a5.6 5.6 0 1 0-7.88 7.96 5.6 5.6 0 1 0 7.88-7.96zM826.33 263.21a5.6 5.6 0 1 0-7.88 7.96 5.6 5.6 0 1 0 7.88-7.96z' fill='rgba(25%2c 25%2c 27%2c 1)'%3e%3c/path%3e%3cpath d='M1319.8700000000001 507.47999999999996 L1408.7 511.11L1423.408288541513 450.1717114584869z' stroke='rgba(58%2c 161%2c 157%2c 1)' stroke-width='1.13' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M923.1 185.35a5.6 5.6 0 1 0 10.61 3.59 5.6 5.6 0 1 0-10.61-3.59zM938.25 190.49a5.6 5.6 0 1 0 10.61 3.59 5.6 5.6 0 1 0-10.61-3.59zM953.41 195.63a5.6 5.6 0 1 0 10.6 3.59 5.6 5.6 0 1 0-10.6-3.59zM968.56 200.77a5.6 5.6 0 1 0 10.6 3.6 5.6 5.6 0 1 0-10.6-3.6z' fill='rgba(25%2c 25%2c 27%2c 1)'%3e%3c/path%3e%3crect width='294' height='294' clip-path='url(%26quot%3b%23SvgjsClipPath1603%26quot%3b)' x='1040.78' y='290.09' fill='url(%23SvgjsPattern1604)' transform='rotate(162.53%2c 1187.78%2c 437.09)'%3e%3c/rect%3e%3cpath d='M1095.6000000000001 181.97 L1037.97 105.74000000000001L1022.2570125022177 188.38298749778244z' stroke='rgba(58%2c 161%2c 157%2c 1)' stroke-width='1.05' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1605%26quot%3b)' x='302.7' y='-14.46' fill='url(%23SvgjsPattern1606)' transform='rotate(260.64%2c 452.7%2c 135.54)'%3e%3c/rect%3e%3cpath d='M234.01 473.25 L404.97 474.15L238.6321262838091 554.5578737161909z' stroke='rgba(25%2c 25%2c 27%2c 1)' stroke-width='1.61' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1594'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='300' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1596'%3e%3crect width='300' height='3' x='0' y='0' fill='rgba(25%2c 25%2c 27%2c 1)'%3e%3c/rect%3e%3crect width='300' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1595'%3e%3ccircle r='75' cx='355.68' cy='118.12'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1598'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(25%2c 25%2c 27%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1597'%3e%3ccircle r='15' cx='758.25' cy='553.49'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='84' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1600'%3e%3crect width='84' height='3' x='0' y='0' fill='rgba(25%2c 25%2c 27%2c 1)'%3e%3c/rect%3e%3crect width='84' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1599'%3e%3ccircle r='21' cx='81.72' cy='524.61'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='294.4' height='6.4' patternUnits='userSpaceOnUse' id='SvgjsPattern1602'%3e%3crect width='294.4' height='3.2' x='0' y='0' fill='rgba(38%2c 39%2c 48%2c 1)'%3e%3c/rect%3e%3crect width='294.4' height='3.2' x='0' y='3.2' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1601'%3e%3ccircle r='73.6' cx='1347.86' cy='351.18'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.5' height='10.5' patternUnits='userSpaceOnUse' id='SvgjsPattern1604'%3e%3cpath d='M0 10.5L5.25 0L10.5 10.5' stroke='rgba(38%2c 39%2c 48%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1603'%3e%3ccircle r='73.5' cx='1187.78' cy='437.09'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1606'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(58%2c 161%2c 157%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1605'%3e%3ccircle r='75' cx='452.7' cy='135.54'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");

}
.bg-svg-black{
  background: #f3f4f5;
}

.bg-login{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1320' preserveAspectRatio='none' viewBox='0 0 1440 1320'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1412%26quot%3b)' fill='none'%3e%3crect width='1440' height='1320' x='0' y='0' fill='url(%23SvgjsLinearGradient1413)'%3e%3c/rect%3e%3cpath d='M1268.5933631027237 204.24238246373625L1512.6434791676088 52.06615271151256 1292.751688291666-69.82185731118193z' fill='rgba(45%2c 140%2c 192%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1332.350528695963 51.30804846053263L1006.1495280903362 203.41807314075976 1158.2595527705635 529.6190737463866 1484.46055337619 377.50904906615943z' fill='rgba(45%2c 140%2c 192%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1131.6445247420131 493.1900268965316L1193.813769524352 53.87117904484137 831.715253569709 192.86777645952645z' fill='rgba(45%2c 140%2c 192%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-97.69494820266937 938.228327959593L156.6240886326867 992.2855079965477 110.55034027044084 583.7783627250362z' fill='rgba(45%2c 140%2c 192%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M663.4159019838571 24.76675266676714L554.0307552191836 150.599969724081 797.4731541874911 251.76108134243432z' fill='rgba(45%2c 140%2c 192%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1412'%3e%3crect width='1440' height='1320' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='2.08%25' y1='102.27%25' x2='97.92%25' y2='-2.27%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1413'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(61%2c 119%2c 147%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  object-fit: cover;
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.bg-gray-0{
  background:#2e2f35
}

.bg-blur{
  backdrop-filter: blur(50px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(255, 255, 255, 0.705);
}

.form_input{
  border: 2px solid var(--gray-color);
}
.form_input:hover{
  border: 2px solid var(--primary-color);
}

