.container{
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    margin: 0 auto;
    padding-bottom: auto;
    
}

.cardContainer{
    display: flex;
    padding: 50px;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.edicationCard{
    background: #fff;
    margin: 15px auto;
    padding: 15px;
    border-radius: .3rem;
}

.card{
    padding: 15px;
    border-radius: 0.3rem;
    background: rgb(201,226,232);
background: linear-gradient(349deg, rgba(201,226,232,1) 0%, rgba(88,168,232,1) 100%);
    margin: 0 auto;
    margin-top: 1rem;
}

.card > div > h1{
    color: #fff;
}

.card > div > p{
    color: #fff !important;
    width: 40%;
    font-weight: 700;
}
.card > div > a > svg:hover{
    transform: scale(1.1);
}
.edicationCard > div > ul {
    color: #1e1e1e;
    font-weight: 500;
    list-style-type: none;
    padding-left: 3px;
    
}
.edicationCard > div > ul > li{
    list-style: none;
    margin-top: 8px;
    
}

@media screen and (max-width: 480px) {
    .card{
        width: 20rem;
        height: 20rem;
    }
  }
@media screen and (min-width: 768px) {
    .card{
        width: 40rem;
        height: 20rem;
    }
}

  
